<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Edit Product #{{produto.id}}</h1> 
        <form action="/produtos/editar" method="post">
            Description: <input type="text" name="descricao" value="{{produto.descricao}}"> <br>
            Price: <input type="number" name="preco" value="{{produto.preco}}"> <br>
            Quantity: <input type="number" name="estoque" value="{{produto.estoque}}">           
            <input type="hidden" name="id"  value="{{produto.id}}">
            <input type="submit" value="Edit">
        </form>
        <br>
        <a href="/produtos/">Back</a>    
    </body>
</html>
