<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/produtos/editar" method="post">
            Descricao: <input type="text" name="descricao" value="{{produto.descricao}}"> <br>
            Preco: <input type="number" name="preco" value="{{produto.preco}}"> <br>
            Estoque <input type="number" name="estoque" value="{{produto.estoque}}">           
            <input type="hidden" name="id"  value="{{produto.id}}">
            <input type="submit" value="Editar">
        </form>
    </body>
</html>
