<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>New Product</h1>
        <form action="/produtos/adicionar" method="post">
            Description: <input type="text" name="descricao"> <br>
            Price: <input type="number" name="preco"> <br>
            Quantity: <input type="number" name="estoque">           
            <input type="submit" value="Add">
        </form> <br>
        <a href="/produtos/">Back</a>
    </body>
</html>
