<html>
    <head>
        <title>Items</title>
        <link rel="stylesheet" href="/estilo.css"/>
    </head>
    <body>        
        <h1>Items of Order #{{venda_id}}</h1>
        <table border="1">
            <tr>
                <td>Remove</td>
                <td>Edit</td>
                <td>Description</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>                
            {{#vetItem}}                
            <tr>
                <td><a href="/itens/deletar/{{id}}">Remove</a></td>
                <td><a href="/itens/tela_editar/{{id}}">Edit</a></td>
                <td>{{produto.descricao}}</td> 
                <td>{{produto.preco}}</td> 
                <td>{{quantidade}}</td>                
            </tr>
            {{/vetItem}}
        </table>                     
        {{^vetItem}}
            There are no items
        {{/vetItem}}    
        <br>
        Total: {{total}} <br><br>
        <a href="/itens/tela_adicionar/{{venda_id}}">Add Item</a> <br>
        <a href="/">Back</a>
    </body>
</html>


