<html>
    <head>
        <title>Items</title>
        <link rel="stylesheet" href="/estilo.css"/>
    </head>
    <body>        
        <h1>Items of Order #{{venda_id}}</h1>
        <ul>
            {{#vetItem}}
            <li>
                <a href="/itens/deletar/{{id}}">Remove</a> <a href="/itens/tela_editar/{{id}}">Edit</a>  {{produto.descricao}}
            </li>
            {{/vetItem}}
        </ul>
        <a href="/itens/tela_adicionar/{{venda_id}}">Add Item</a> <br>
        <a href="/">Back</a>
    </body>
</html>


