<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Items</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/itens/adicionar" method="post">            
            Quantity: <input type="number" name="quantidade">           
            Produto: 
            <select name="produto.id">
                {{#vetProduto}}
                <<option value="{{id}}">{{descricao}}</option>
                {{/vetProduto}}
            </select>
            <input type="hidden" name="venda.id" value="{{venda_id}}">           
            <input type="submit" value="Add">
        </form>
    </body>
</html>
