<!DOCTYPE html>
<html>
    <head>
        <title>Items</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{^message}}            
        <h1>New Item - Order # {{venda_id}}</h1>
        <form action="/itens/adicionar" method="post">            
            Quantity: <input type="number" name="quantidade" required="required">           
            Product: 
            <select name="produto.id">
                {{#vetProduto}}
                <<option value="{{id}}">{{descricao}}</option>
                {{/vetProduto}}
            </select>
            <input type="hidden" name="venda.id" value="{{venda_id}}">           
            <input type="submit" value="Add">
        </form>
        {{/message}}
        {{#message}}
            {{message}}
        {{/message}}
        <a href="javascript:void(0)" onclick="history.go(-1)">Back</a>
    </body>
</html>
