<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Items</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <h1>Edit Item #{{item_id}}</h1>
       <h2>Product: {{produto_descricao}} </h2>
       <form action="/itens/editar" method="post">            
            Quantity: <input type="number" name="quantidade" value="{{quantidade}}">                                   
            <input type="hidden" name="item_id" value="{{item_id}}">           
            <input type="submit" value="Edit">
        </form>
    </body>
</html>
